<a href="https://colab.research.google.com/github/gohomeandsleep/BOJ/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df = pd.read_csv("/content/sample_data/Baseball.csv")
df.head()

   순위   이름 소속구단     타율   안타  홈런   타점
0   1  이정후   키움  0.357  164   6   82
1   2  전준우   롯데  0.346  189   7   91
2   3  강백호   KT  0.345  177  16  101
3   4  홍창기   LG  0.331  172   4   52
4   5  박건우   두산  0.328  149   6   63

In [ ]:
top5 = df.head(5)
top5.sort_values('타점', ascending=False)